openapi: 3.1.0
info:
  title: Brazukas Delivery API
  version: 0.1.0
  description: MVP API para delivery comunitário da fronteira Brasil-Paraguai
  contact:
    name: Brazukas Team
    url: https://brazukas.app

servers:
  - url: https://api.brazukas.app
    description: Production
  - url: http://localhost:3000
    description: Development

security:
  - bearerAuth: []

paths:
  /auth/login:
    post:
      summary: Login (admin/merchant/driver/client)
      tags: [Auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Login bem-sucedido
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /auth/me:
    get:
      summary: Obter usuário autenticado
      tags: [Auth]
      responses:
        '200':
          description: Usuário autenticado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JWTPayload'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /merchants:
    get:
      summary: Listar lojas
      tags: [Merchants]
      parameters:
        - in: query
          name: q
          schema: { type: string }
          description: Busca textual
        - in: query
          name: category
          schema: { type: string }
        - in: query
          name: limit
          schema: { type: integer, default: 20, minimum: 1, maximum: 100 }
        - in: query
          name: cursor
          schema: { type: string }
      responses:
        '200':
          description: Lista paginada de lojas
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerchantList'

    post:
      summary: Criar loja (admin/merchant)
      tags: [Merchants]
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MerchantCreate'
      responses:
        '201':
          description: Loja criada
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Merchant'
        '403':
          $ref: '#/components/responses/Forbidden'

  /merchants/{merchantId}/products:
    get:
      summary: Listar produtos da loja
      tags: [Products]
      parameters:
        - in: path
          name: merchantId
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Lista de produtos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductList'

    post:
      summary: Criar produto (merchant/admin)
      tags: [Products]
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: merchantId
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductCreate'
      responses:
        '201':
          description: Produto criado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'

  /orders:
    get:
      summary: Listar pedidos (escopo depende do papel)
      tags: [Orders]
      security: [{ bearerAuth: [] }]
      parameters:
        - in: query
          name: merchantId
          schema: { type: string }
        - in: query
          name: status
          schema:
            $ref: '#/components/schemas/OrderStatus'
        - in: query
          name: limit
          schema: { type: integer, default: 20 }
        - in: query
          name: cursor
          schema: { type: string }
      responses:
        '200':
          description: Lista de pedidos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderList'

    post:
      summary: Criar pedido
      tags: [Orders]
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderCreate'
      responses:
        '201':
          description: Pedido criado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '422':
          $ref: '#/components/responses/Unprocessable'

  /orders/{orderId}:
    get:
      summary: Obter pedido
      tags: [Orders]
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: orderId
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Detalhes do pedido
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '404':
          $ref: '#/components/responses/NotFound'

    patch:
      summary: Avançar status / atualizar ETA / atribuir motorista
      tags: [Orders]
      security: [{ bearerAuth: [] }]
      parameters:
        - in: path
          name: orderId
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/OrderAdvance'
                - $ref: '#/components/schemas/OrderSetETA'
                - $ref: '#/components/schemas/OrderAssignDriver'
      responses:
        '200':
          description: Pedido atualizado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '422':
          $ref: '#/components/responses/Unprocessable'

  /drivers:
    get:
      summary: Listar entregadores (admin/merchant)
      tags: [Drivers]
      security: [{ bearerAuth: [] }]
      responses:
        '200':
          description: Lista de entregadores
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DriverList'

  /coupons/validate:
    post:
      summary: Validar cupom
      tags: [Coupons]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CouponValidateRequest'
      responses:
        '200':
          description: Cupom validado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CouponValidateResponse'
        '422':
          $ref: '#/components/responses/Unprocessable'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  responses:
    Unauthorized:
      description: Não autorizado
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

    Forbidden:
      description: Proibido
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

    NotFound:
      description: Não encontrado
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

    Unprocessable:
      description: Requisição inválida (regra de negócio)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

  schemas:
    Error:
      type: object
      properties:
        error:
          type: string

    LoginRequest:
      type: object
      required: [email, password]
      properties:
        email:
          type: string
          format: email
        password:
          type: string
          minLength: 6

    LoginResponse:
      type: object
      properties:
        token:
          type: string
        success:
          type: boolean

    JWTPayload:
      type: object
      properties:
        sub:
          type: string
        role:
          type: string
          enum: [admin, merchant, driver, client]
        email:
          type: string
        iat:
          type: integer
        exp:
          type: integer

    Merchant:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        address:
          type: string
        lat:
          type: number
        lng:
          type: number
        category:
          type: string
        delivery_fee:
          type: integer
          description: PYG
        logo:
          type: string
          nullable: true
        banner:
          type: string
          nullable: true

    MerchantCreate:
      type: object
      required: [name, address]
      properties:
        name:
          type: string
        address:
          type: string
        lat:
          type: number
        lng:
          type: number
        category:
          type: string
        delivery_fee:
          type: integer

    MerchantList:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/Merchant'
        nextCursor:
          type: string
          nullable: true

    Product:
      type: object
      properties:
        id:
          type: string
        merchant_id:
          type: string
        name:
          type: string
        price:
          type: integer
          description: PYG
        photo_url:
          type: string
          nullable: true
        active:
          type: boolean

    ProductCreate:
      type: object
      required: [name, price]
      properties:
        name:
          type: string
        price:
          type: integer
        photo_url:
          type: string
          nullable: true
        active:
          type: boolean
          default: true

    ProductList:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/Product'
        nextCursor:
          type: string
          nullable: true

    OrderStatus:
      type: string
      enum:
        - PENDING_PAYMENT
        - PAID
        - CONFIRMED
        - ASSIGNED
        - PICKED_UP
        - DELIVERED

    OrderItem:
      type: object
      required: [product_id, name, price, qty]
      properties:
        product_id:
          type: string
        name:
          type: string
        price:
          type: integer
        qty:
          type: integer
          minimum: 1

    Order:
      type: object
      properties:
        id:
          type: string
        merchant_id:
          type: string
        client_id:
          type: string
          nullable: true
        status:
          $ref: '#/components/schemas/OrderStatus'
        items:
          type: array
          items:
            $ref: '#/components/schemas/OrderItem'
        subtotal:
          type: integer
        delivery_fee:
          type: integer
        discount:
          type: integer
        total:
          type: integer
        driver:
          type: object
          nullable: true
          properties:
            id:
              type: string
            name:
              type: string
            vehicle:
              type: string
        eta_min:
          type: integer
          nullable: true
        timeline:
          type: array
          items:
            type: object
            properties:
              ts:
                type: string
                format: date-time
              type:
                $ref: '#/components/schemas/OrderStatus'
        created_at:
          type: string
          format: date-time

    OrderCreate:
      type: object
      required: [merchant_id, items, address]
      properties:
        merchant_id:
          type: string
        items:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/OrderItem'
        address:
          type: object
          properties:
            street:
              type: string
            ref:
              type: string
            lat:
              type: number
            lng:
              type: number
        coupon_code:
          type: string
          nullable: true
        payment_method:
          type: string
          enum: [pix, card, cash]

    OrderAdvance:
      type: object
      required: [status]
      properties:
        status:
          $ref: '#/components/schemas/OrderStatus'

    OrderAssignDriver:
      type: object
      required: [action, driver]
      properties:
        action:
          type: string
          enum: [assign_driver]
        driver:
          type: object
          required: [id, name]
          properties:
            id:
              type: string
            name:
              type: string
            vehicle:
              type: string

    OrderSetETA:
      type: object
      required: [action, eta_min]
      properties:
        action:
          type: string
          enum: [set_eta]
        eta_min:
          type: integer
          minimum: 5

    OrderList:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/Order'
        nextCursor:
          type: string
          nullable: true

    Driver:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        vehicle:
          type: string
        online:
          type: boolean

    DriverList:
      type: array
      items:
        $ref: '#/components/schemas/Driver'

    CouponValidateRequest:
      type: object
      required: [code, subtotal]
      properties:
        code:
          type: string
        subtotal:
          type: integer

    CouponValidateResponse:
      type: object
      properties:
        valid:
          type: boolean
        type:
          type: string
          enum: [percent, fixed, free_shipping]
          nullable: true
        value:
          type: integer
          nullable: true
        min:
          type: integer
          nullable: true
        maxOff:
          type: integer
          nullable: true
